@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div> @*class="jumbotron">*@

    <div class="row">
        <div class="col-md-4">
            <h4>List of contacts</h4>
        </div>
        <div class="col-md-4">
            <h4>Chats</h4>
        </div>
        <div class="col-md-4">
            <h4>Reserved</h4>
        </div>
    </div>
</div>
