<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Header</h4>
    </div>
    <div class="modal-body">
        ddsvdsvjnsdvkjnvjndksjvn
    </div>
</div>
