html, body {
    position: absolute;
    height: 100%;
    width: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.row {
    position: relative;
    height: inherit;
}

.header {
    position: relative;
    height: 50px;
    background: #444444;
    width: 100%;
    padding: 0 25% 0 25%;
}

#logout_img {
    position: absolute;
    height: 100%;
    filter: invert(0.9);
}

#account_ref {
    position: absolute;
    height: 100%;
    border-radius: 0;
    background: transparent;
    font-size: 20px;
    color: #eeeeee;
}

#account_ref:hover {
    animation: acc_ref_hover 2s forwards;
}

@keyframes acc_ref_hover {
    100% {
        background: #eeeeee;
        color: #000000;
    }
}

.warning_message {
    position: absolute;
    color: #ee0000;
}

.user_info {
    font-size: 18px;
}

